/node_modules
/public/hot
/public/storage
/public/images/pekerjaan/*
/public/images/presensi/*
/public/images/profile/*
/public/images/perizinan/*
/public/images/surat_perintah/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
